:host {
    ion-content {
        --background: var(--ion-color-light);
        border-radius: 1em;
    }

    ion-item {
        border-radius: 1em;
        border-bottom: 1px dotted var(--ion-color-medium);
        
    }

    ion-card {
        &.no-radius {
            padding: .2em;
            border-radius: 1em;
            box-shadow: 2px 2px 2px 2px;   /* Sombra desenfocada */
        }
    }


}