<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/LogoPortalColegios.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Portal Educacion</strong></ion-text>
      </h1>
      <p margin-bottom>
        El Ministerio de Educación de Chile es el órgano rector del Estado encargado de fomentar el desarrollo de la educación en todos sus niveles, a través de una educación humanista democrática, de excelencia y abierta al mundo en todos los niveles de enseñanza; estimular la investigación científica y tecnológica y la creación artística, y la protección e incremento del patrimonio cultural de la Nación. Del mismo modo, esta institución es la llamada a velar por los derechos de todos los estudiantes, tanto de establecimientos públicos como privados.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
